.friends {
  @include flex($fd: column);

  &__friend {
    @include flex($ai: flex-start, $fd: row, $jc: space-between);
    width: 100%;
    border-bottom: 1px solid $c-brand;
    padding: 32px 0;
  }

  &__avatar {
    @include flex($ai: flex-start, $fd: row);
    gap: 20px;
  }

  &__buttons {
    @include flex($fd: column, $ai: flex-end);
  }

  a{
    padding: 0px 5px;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.2s ease background-color;
    &:hover{
        background-color: $c-background;
    }
  }
}
