.login {
    height: 90%;
    width: 990px;
    @include flex($ai: flex-start, $jc: center);
    margin-bottom: 370px;
  
    &__col {
      margin-left: auto;
    }
  
    &__block {
      background-color: $c-white;
      color: black;
      padding-bottom: 32px;
      width: 300px;
      border-radius: 10px;
    }
  
    &__title {
        font-size: 28px;
      padding: 32px 0 0px 0;
      @include flex($ai: center, $jc: center);
    }
  
    &__form {
      @include flex($jc: center, $ai: center, $fd: column);
      gap: 16px;
      padding: 10px 36px;
    }  
  
    &__signup {
      width:100%;
      text-align: center;
  
      &-text {
        display: block;
        padding: 6px 0px;
      }
  
      &-sub {
        display: block;
        padding: 6px 0px;
        font-size: 12px;
        color: $c-grey;
      }
    }
  }
  