@import 'variables';
@import 'mixins';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: $c-background;
    color: black;
  }
}
