.vizit{
    color: black;
    box-sizing: border-box;
    background-color:rgb(random(255), random(255), random(255));
    filter: saturate(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 200px; 
    animation: gradient 2s linear infinite;

    &__main{         
        transition: transform 0.3s;
        box-shadow: 0 0 3px 3px black;
        font-size: 24px;
        margin: 0 auto;
        max-width: 500px;
        display: flex;             
        border: solid 2px black;
        border-radius: 10px;
        background-color: white;

       img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 10px;
        margin: 10px;
       }

        &:hover{
            transform: scale(1.05);
        }
       
    }

    &__desc{
        display: flex;
        flex-direction: column;
    }

    &__title{
        font-size: 28px;
        margin-bottom: 10px;
    }

    @keyframes gradient {
        0%{
            background-color: #0b0624;
        }
        
        50%{
            background-color: #1f1846;
        }

        100%{
            background-color: #0b0624;
        }
    }
}