.columns {
  display: flex;
  text-align: left;
  flex-direction: row;
  gap: 64px;
  width: 100%;

  &__left {
    margin-right: auto;
    gap:6px;
    width:100%
  }

  &__right {
    margin-left: auto;
    gap: 6px;
    width: 100%
  }
}
