.main {
  height: 90%;
  @include flex($ai: flex-start, $jc: center);
  margin-bottom: 370px;

  &__title {
    font-size: 52px;
  }

  &__col {
    margin-left: auto;
  }

  &__block {
    background-color: $c-white;
    color: black;
    padding-bottom: 32px;
    width: 300px;
    margin-left: auto;
    border-radius: 10px;
  }

  &__block_text {
    
    @include font($fs: 22px, $fy: italic);
    text-indent: 30px;
    @include flex($ai: center, $jc: center, $fd: column);

    p{
      margin-bottom: 0;
    }
  }

  &__form {
    @include flex($jc: center, $ai: center, $fd: column);
    gap: 16px;
    padding: 10px 36px;
  }  

  &__signup {
    width:100%;
    text-align: center;

    &-text {
      display: block;
      padding: 6px 0px;
    }

    &-sub {
      display: block;
      padding: 6px 0px;
      font-size: 12px;
      color: $c-grey;
    }
  }
}
