.messages {
  &__message {
    width: 100%;   
    transition: 0.2s ease all;
    border-bottom: 1px solid $c-brand;
    padding: 16px 0;
    cursor: pointer;

    &:hover {
      background-color: $c-background;
    }

    h4 {
      border: none;
    }
  }
  &__avatar {
    img {
      border-radius: 50%;
    }
    margin-right: 10px;
  }

  &__text{
    span{
        display: block;
        color: $c-grey;
        padding-top: 10px;
    }
  }

  &__date{
    
  }

  &__content{
 @include flex();
  }
}
