.header {
  padding: 32px 0px;
  width: 100%;
  @include flex($ai: center, $jc: center);
  @include fixed();
  background-color: $c-white;
  color: $c-brand;
  z-index: 100;

  &__content {
    max-width: 990px;
    @include fixed();
    @include flex();
    width: 100%
  }

  &__logo {
    @include flex($ai: center, $jc: space-around);
    width: 65px;
    height: 55px;

    svg {
    transform: scale(10%);
      overflow: visible;
    }
  }

  &__menu {
    margin-left: auto;
    padding-right: 50px;
  }

  &__avatar {
    @include flex($jc: flex-end);
    width: 50px;
    img {
      border-radius: 50%;
    }
  }
  &__login{
    @include flex()
  }

  &__user{
    margin-right: 24px;
  }
}
